CompileFlags:
  CompilationDatabase: d:\HAW\GitProjekte\ITS-BRD-VSC\Programs\LauflichtASM\out\LauflichtASM\ITSboard_Assembly\Debug
  Add:
    - -include
    - d:\HAW\GitProjekte\ITS-BRD-VSC\Programs\LauflichtASM\out\LauflichtASM\ITSboard_Assembly\Debug\compile_macros.h
