CompileFlags:
  CompilationDatabase: >-
    d:\HAW\GitProjekte\ITS-BRD-VSC\Programs\A1ASM\out\A1ASM\ITSboard_Assembly\Debug
  Add:
    - '-D__ARMCOMPILER_LIBCXX=1'
    - '-ID:/HAW/GitProjekte/ITS-BRD-VSC/Programs/A1ASM/Inc'
    - >-
      -ID:/HAW/GitProjekte/ITS-BRD-VSC/Programs/A1ASM/../../stm32cubef4/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -ID:/HAW/GitProjekte/ITS-BRD-VSC/Programs/A1ASM/../../stm32cubef4/Drivers/CMSIS/Include
    - >-
      -ID:/HAW/GitProjekte/ITS-BRD-VSC/Programs/A1ASM/../../stm32cubef4/Drivers/STM32F4xx_HAL_Driver/Inc
    - >-
      -ID:/HAW/GitProjekte/ITS-BRD-VSC/Programs/A1ASM/../../stm32cubef4/Drivers/BSP/STM32F4xx_Nucleo_144
    - >-
      -ID:/HAW/GitProjekte/ITS-BRD-VSC/Programs/A1ASM/../../stm32cubef4/Utilities/Fonts
    - '-ID:/HAW/GitProjekte/ITS-BRD-VSC/Programs/A1ASM/../../DisplayWaveshare/Inc'
    - >-
      -ID:/HAW/GitProjekte/ITS-BRD-VSC/Programs/A1ASM/../../ITS_BRD_LIB/Utilities/AddFonts
    - >-
      -ID:/HAW/GitProjekte/ITS-BRD-VSC/Programs/A1ASM/tmp/A1ASM.Debug+ITSboard_Assembly
    - >-
      -ID:/HAW/GitProjekte/ITS-BRD-VSC/Programs/A1ASM/RTE/_Debug_ITSboard_Assembly
    - '-IC:/Users/User/AppData/Local/Arm/Packs/ARM/CMSIS/6.1.0/CMSIS/Core/Include'
    - >-
      -IC:/Users/User/AppData/Local/Arm/Packs/Keil/STM32F4xx_DFP/2.17.1/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - '-ID:/HAW/GitProjekte/ITS-BRD-VSC/Programs/A1ASM/../../ITS_BRD_LIB/Inc'
